# Operating System specific files
.DS_Store # macOS specific file

#Keys and provider file.
# Terraform
*.tfstate.*
#.terraform/
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json

# Local IDE
.vscode/
.idea/
*.swp

*.lock.hcl
providers.tf
terraform.tfstate
terraform.tfstate.backup
.terraform/
